#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

div.earringdisplay {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  

}

div.allearmain {
  width: 30%
}

img {
  width: 50%;
  height: 20%;
  display: inline;
}