#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

div.earringdisplay {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 25%;
  
  

}

div.allearmain {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

img {
  width: 50%;
  display: inline;
}